.app-container {
  padding: 20px;
}

.thumbs-icon {
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.tricolor-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 20px;
}

.fotos-container {
  margin-top: 10px;
}

.foto-imagen {
  margin-top: 10px;
}

.foto-imagen img {
  width: 200px;
}
